.date-range-picker {
  position: relative;
  display: inline-block;
}

.date-input {
  padding: 10px;
  /* border: 1px solid #ccc; */
  cursor: pointer;
}

.calendar-container {
  display: flex;
  gap: 20px;
}

.calendar {
  background: white;
  /* border: 1px solid #ccc; */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background: #f9f9f9;s */
  /* border-bottom: 1px solid #ccc; */
}
.calendar-header-button{
  width: 5%;
  border: none;
}
.calendar-header-span{
  width: 95%;
  text-align: center;
}
.calendar-body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.calendar-weekdays{
  width: 100%;
}
.calendar-weekdays, .calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-weekday, .calendar-day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px;
}

.calendar-day {
  cursor: pointer;
}

.calendar-day.selected {
  background: #007bff;
  color: white;
}

.calendar-day.empty {
  pointer-events: none;
}

.box-filling {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.show-calender-date-range {
  display: flex;
  align-items: center;
  background-color: #007bff;
}
#show-calender{
  display: none !important;
}
.check-in-input, .check-out-input {
  margin: 0 5px;
}
