.footer-color{
    background-color: rgb(241, 241, 240);
    width: 100%;
    height: fit-content;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    /* gap: 5%; */
}
.footer-columns{
    display: flex;
    flex-direction: column;
    width: 14%;
    align-items: flex-start;
    text-align: left;
}
.footer-columns h6{
    margin-bottom: 10px;
    font-weight: bold;
}
.footer-columns a{
    color: black;
    margin-bottom: 8px;
}
.footer-columns a:hover{
    color: black;
}