.calender-holder{
    background-color: #003b95;
    width: 100%;
    height: 300px;
    color: white;
    padding-top: 100px;
    height: fit-content;
}
.heading-holder{
    margin-bottom: 50px;
}
.heading-holder h1{
    font-size: 50px;
    font-weight:1000;
    text-align: left;
}
.heading-holder h3{
    text-align: left;
}
.calender{
    display: flex;
    background-color: #ffb700;
    height: 70px;
    width: 97%;
    border-radius: 10px;
    padding: 5px;
    transform: translateY(35px);
}
.search-btn{
    background-color: #006ce4;
    color: white;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    width:10%;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #0751c0;
}
.box-filling-holder{
    width: 90%;
    display: flex;
}
.box-filling{
    width: 32.8%;
    background-color: white;
    border-radius: 8px;
    margin-right: 5px;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    cursor: pointer;
}
.box-filling:hover{
    border: 1px solid rgb(255, 123, 0);
    box-shadow: 1px 1px 2px rgba(255, 123, 0, 0.8);
}
.box-filling-icon{
    height: 28px;
    width: 28px;
}
.box-filling-input{
    border:none;
    margin-left: 10px;
    font-size: 20px;
}
.box-filling-input:focus{
    outline: none;
}
.box-filling-input:focus::placeholder{
    color: gray;
}
.box-filling-input::placeholder{
    color: black;
}
.check-in-input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding-left: 10px;
    font-size: 20px;
}
.dash{
    align-self: center;
    color: black;
    padding-left: 10px;
}
.check-out-input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding-left: 10px;
    font-size: 20px;
}
.person-count-input{
    display: inline-block;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    font-size: 20px;
}

/* ----------------------list box for where are you going?------------------------------ */

.list-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
    z-index: 1000;
    text-align: left;
    transform: translateY(5px);
}
#list-box h4{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
.location-holder {
    padding: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid #eceaea;
}

.location-holder:hover {
    background-color: #eceaea;
}
.location-holder{
    display: flex;
}
.location-icon-holder{
    height: 30px;
    width: 30px;
    justify-self: center;
    align-self: center;
}
.townname{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.countryname{
    color: black;
    font-size: 15px;
}
.location-place-holder{
    padding-left: 20px;
}
/* --------------------------------------------------------- */

#show-calender-holder{
    position: absolute;
    display: none;
    width: 800px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
    z-index: 1000;
    transform: translate(5px, 15px);
    color: black;
}
.rs-picker-popup{
    transform: translateX(-150px);
}
.rs-picker-daterange-header{
    border-radius: 0 !important;
}
.rs-input{
    display: none !important;
}
.rs-date-range-input{
    border-radius: 0 !important;
    border: none !important;
}
.rs-input-group-addon{
    display: none !important;
}
.rs-picker-daterange-calendar-group{
    position: relative !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.rs-calendar{
    border: none !important;
}
.rs-calendar-body{
    width: 400px !important;
}

@media screen and (max-width: 1024px) {
    .box-filling-holder{
        display: block;
        width: 100%;
    }
    .box-filling{
        width: 100%;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-btn{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .calender{
        display: block;
    }
    .calender{
        height: fit-content;
    }
    .container{
        margin-left: 1.5vw !important;
    }
    .heading-holder{
        margin-bottom: 50px !important;
    }
    .list-box{
        transform: translateY(-175px);
        width: 100%;
    }
}