.calender-holder{
    background-color: #003b95;
    width: 100%;
    height: 150px;
    color: white;
    padding-top: 70px;
    height: fit-content;
}
.heading-holder{
    margin-bottom: 0px;
}
.heading-holder h1{
    font-size: 50px;
    font-weight:1000;
    text-align: left;
}
.heading-holder h3{
    text-align: left;
    font-size: 25px;
}
.calender{
    position: relative;
    display: flex;
    background-color: #ffb700;
    height: 62px;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(32px);
    gap: 4px;
}
.search-btn{
    background-color: #006ce4;
    color: white;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    width:110px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #0751c0;
}
.box-filling-holder{
    width: 100%;
    display: flex;
    gap: 4px;
}
.bed-icon-div{
    width: 40%;
}
.calendar-icon-div{
    width: 30%;
}
.person-icon-div{
    width: 30%;
}
.box-filling{
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    cursor: pointer;
}
.box-filling:hover{
    border: 1px solid rgb(255, 123, 0);
    box-shadow: 1px 1px 2px rgba(255, 123, 0, 0.8);
}
.box-filling-icon{
    height: 26px;
    width: 20px;
    margin-left: 5px;
}
.bed-icon-div .box-filling-icon{
    height: 24px;
    width: 24px;
}
.box-filling-input{
    border:none;
    margin-left: 10px;
    font-size: 15px;
}
.box-filling-input:focus{
    outline: none;
}
.box-filling-input:focus::placeholder{
    color: gray;
}
.box-filling-input::placeholder{
    color: black;
}
.check-in-input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding-left: 5px;
    font-size: 15px;
}
.dash{
    align-self: center;
    color: black;
    padding-left: 5px;
}
.check-out-input{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding-left: 5px;
    font-size: 15px;
}
.person-count-input{
    display: inline-block;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    font-size: 15px;
}

/* ----------------------list box for where are you going?------------------------------ */

.list-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 460px;
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
    z-index: 1000;
    text-align: left;
    transform: translateY(5px);
}
#list-box h4{
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 12px;
}
.location-holder {
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid #eceaea;
}

.location-holder:hover {
    background-color: #eceaea;
}

.location-icon-holder{
    height: 20px;
    width: 25px;
    justify-self: center;
    align-self: center;
    margin-bottom: 5px;
}
.townname{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.countryname{
    color: black;
    font-size: 12px;
}
.location-place-holder{
    padding-left: 10px;
}
.date-count-show{
    color: black;
}
/* --------------------------------------------------------- */

#show-calender-holder{
    position: absolute;
    top: 100px;
    width: 660px;
    height: fit-content;
    border: 1px solid #ccc;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
    z-index: 1000;
    transform: translate(0px, 2px);
    color: black;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

/* --------------------guest count div--------------------------------- */
#guest-count-div{
    position: absolute;
    display: none;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 2px 10px rgba(111, 111, 111, 0.5);
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
}
.guest-count-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: black;
    align-items:flex-start;
    justify-content: space-between;
    font-size: 14px;
}
.plus-minus-btn{
    height: 50px;
    width: 100px;
    border: 1px solid gray;
    margin-left: 50px;
}

@media screen and (max-width: 1024px) {
    .box-filling-holder{
        display: block;
        width: 100%;
    }
    .box-filling{
        width: 100%;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-btn{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .calender{
        display: block;
    }
    .calender{
        height: fit-content;
    }
    .container{
        margin-left: 1.5vw !important;
    }
    .heading-holder{
        margin-bottom: 50px !important;
    }
    .list-box{
        transform: translateY(-175px);
        width: 100%;
    }
}
