body{
    font-family: 'Helvetica' !important;
}
.blue-bg{
    background-color: #003b95;
    height: auto;
    width: 100%;
    padding-bottom: 10px;
    /* padding: 8px 16px 0 16px; */
}
.top-nav{
    height: auto;
    padding: 0;
    margin: 0;
}
.top-nav-left{
    width: 50%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
}
.top-nav-right{
    width: 50%;
    height: auto;
    justify-content: flex-end;
    align-items:center;
}
.logo-holder{
    height: auto;
    width: 130px;
    margin: 0;
    padding: 0;
}
.nav-item-white-btn{
    color: white;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    white-space: nowrap;
    border-radius: 5px;
}
.register-sign-in{
    /* margin-top: 8px; */
    align-items: center;
    justify-content: center;
}
.nav-item-custom{
    color: white;
    font-size: 17px;
    padding: 12px;
    white-space: nowrap;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.nav-item-custom:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-picture{
    display: flex;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.navbar-picture img{
    width: 24px;
    height: 24px;
    object-fit:cover;
    border-radius: 50%;
}
.questionmark-holder{
    height: 24px;
    width: 24px;
}
.navbar-button{
    padding: 8px;
    background-color: white;
    color: rgb(0, 123, 255);
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}
.navbar-button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.no-underline:hover{
    text-decoration: none;
}

.user-icon-holder{
    color: white;
    height: 24px;
    width: 24px;
    /* margin-left: 10px; */
}
.hamburger-menu{
    color: white;
    height: 24px;
    width: 24px;
    /* margin-left: 10px; */
}
.hidden-nav{
    height: auto;
    padding: 0;
    margin: 0;
}
.top-nav-right-hidden{
    width: 50%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}

.bottom-nav{
    height: auto;
    padding: 0;
    margin: 0;
}
.bottom-nav-button{
    width:fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: white solid 1px; */
    border-radius: 50px;
    padding: 7px;
    margin-right: 5px;
    white-space:nowrap;
    cursor: pointer;
}
.bottom-nav-active{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
}
.bottom-nav-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.bottom-nav-button-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: -5px;
}
.bottom-nav-button-word{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.bottom-nav-button-holder{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    transform: translateX(-18px);
}
.bottom-nav-button-holder::-webkit-scrollbar {
    display: none;
}

/* -------------------responsive navbar----------------------- */
@media screen and (max-width: 1024px) {
    .top-nav{
        display: none;;
    }
    .logo-holder{
        width: 120px;
    }
    .bottom-nav-button-word{
        font-size: 15px;
    }
    .bottom-nav-button-icon{
        width: 18px;
        height: 18px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .container{
        margin: 0 !important;
        max-width: 100% !important;
    }
}
@media screen and (min-width: 1025px) {
    .hidden-nav{
        display: none;
    }
    .top-nav{
        display: flex;
    }
}
/* -------------------responsive navbar end----------------------- */

/* ---------------------------------------- */
.show-pic{
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid goldenrod;
    overflow: hidden;
    height: 35px;
    width: 35px;
}
.show-pic img{
    height: 30px;
    width: 30px;
}
.show-name{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}
.show-name p{
    color: goldenrod;
    font-weight: 400;
    font-size:smaller;
    text-align: left;
    font-size: 12px;
}
@media screen and (orientation:portrait) {
    .show-pic{
        width: 25px;
        height: 25px;
    }
    .show-pic img{
        width: 23px;
        height: 23px;
    }
}
/* --------------------------------------------------------*/
.tooltip-class{
    position: absolute;
    z-index: 9999;
}
