.blue-bg{
    background-color: #003b95;
    height: auto;
    width: 100%;
}
.top-nav-left{
    width: 50%;
    height: 50px;
    align-items: flex-start;
}
.top-nav-right{
    width: 50%;
    height: 50px;
    align-items: flex-end;
    justify-content: space-around;
}
.logo-holder{
    height: 100%;
    width: 150px;
    margin: 20px;
}
.nav-item-custom{
    color: white;
    padding:5px;
}
.navbar-picture{
    height: 24px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}
.navbar-picture img{
    width: 24px;
    height: auto;
    object-fit:cover;
    border-radius: 50%;
}
.questionmark-holder{
    height: 24px;
    width: 24px;
}
