.blue-bg{
    background-color: #003b95;
    height: auto;
    width: 100%;
    /* padding: 8px 16px 0 16px; */
}
.top-nav{
    height: auto;
    padding: 0;
    margin: 0;
}
.top-nav-left{
    width: 50%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
}
.top-nav-right{
    width: 50%;
    height: auto;
    justify-content: flex-end;
    align-items:center;
}
.logo-holder{
    height: auto;
    width: 170px;
    margin: 0;
    padding: 0;
}
.nav-item-custom{
    color: white;
    font-size: 20px;
    padding: 10px 0 20px 20px;
}
.navbar-picture{
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
.navbar-picture img{
    width: 28px;
    height: 28px;
    object-fit:cover;
    border-radius: 50%;
}
.questionmark-holder{
    height: 28px;
    width: 28px;
}
.navbar-button{
    padding: 8px;
    background-color: white;
    color: rgb(0, 123, 255);
    border-radius: 3px;
}

.user-icon-holder{
    color: white;
    height: 24px;
    width: 24px;
    /* margin-left: 10px; */
}
.hamburger-menu{
    color: white;
    height: 24px;
    width: 24px;
    /* margin-left: 10px; */
}
.hidden-nav{
    height: auto;
    padding: 0;
    margin: 0;
}
.top-nav-right-hidden{
    width: 50%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}
/* -------------------responsive navbar----------------------- */
@media screen and (max-width: 1024px) {
    .hidden-nav{
        display: flex;
    }
    .top-nav{
        display: none;;
    }
}
@media screen and (min-width: 1025px) {
    .hidden-nav{
        display: none;
    }
    .top-nav{
        display: flex;
    }
}
/* -------------------responsive navbar end----------------------- */