.tabs {
    display: flex;
}

.tab {
    width: 50%;
    padding: 15px 0 15px 0;
    cursor: pointer;
    background-color: white;
    margin: 0;
    color: black;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid rgba(228, 224, 224, 0.5);

}

.tab:hover {
    background-color: rgba(219, 216, 216, 0.5);
}

.tab.active {
    color: #007bff;
}

.tab-content {
    padding: 0;
    border: none;
}

.underline {
    position: relative;
    bottom: 3px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #007bff;
    transition: transform 0.25s;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------------------------------- */
.five-btn-holder {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-top: rgba(228, 224, 224, 0.5) 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.five-btn {
    display: flex;
    white-space: nowrap;
    border: 1px solid rgba(163, 162, 162, 0.8);
    border-radius: 30px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: space-around;
    color: rgb(67, 65, 65);
    cursor: pointer;
    font-size: 14px;
}

.five-btn span {
    padding-left: 5px;
    padding-right: 5px;
}

.plus-minus {
    height: 20px;
    width: 15px;
}

.five-btn-active {
    border-color: #006ce4;
    color: #006ce4;
    background-color: rgba(40, 131, 200, 0.1);
}

.five-btn-active .plus-minus path {
    fill: rgba(40, 131, 200, 0.8);
}


/* ---------------------------------I'm Flexible styles--------------------------------------------------- */
.bullet-div {
    margin-top: 32px;
    margin-bottom: 32px;
}

.bullet-div h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}

.radio {
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    font-size: 14px;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-mark {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #b4b2b2;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.custom-radio input:checked~.radio-mark {
    border: 2px solid #007bff;
}

.radio-mark::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
}

.custom-radio input:checked~.radio-mark::after {
    display: block;
}


.month-select-div {
    margin-bottom: 32px;
}

.month-select-div h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}

.month-select-div h4 {
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: -5px;
    color: gray;
    text-align: left;
}

.month-display-container {
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.months-holder {
    position: relative;
    width: 100%;
    padding-top: 5px;
    gap: 16px;
    overflow: hidden;
    /* padding-left: 20px;
    padding-right: 20px; */
    align-items: center;
    /* justify-content: center; */
    scroll-behavior: smooth;
}

.select-month {
    min-width: 84px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    min-height: 94px;
    padding: 7px 11px 7px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.month-icon-holder {
    height: 16px;
    width: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.select-month .month {
    font-size: 14px;
}

.select-month .year {
    font-size: 14px;
    color: rgb(94, 93, 93);
}

.month-display-right,
.month-display-left {
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.month-display-right {
    right: 20px;
}

.month-display-right:hover {
    background-color: rgb(244, 240, 240);
}

.month-display-left {
    left: 25px;
}

.month-display-left:hover {
    background-color: rgb(244, 240, 240);
}

button:disabled {
    display: none;
}

.btn-div {
    width: 100%;
    border-top: 1px solid rgb(224, 221, 221);
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 20px;
    justify-content: flex-end;
    font-size: 14px;
    align-items: center;
}

.select-dates-btn {
    padding: 10px;
    background-color: #dadbdd;
    color: gray;
    border-radius: 4px;
}

/* ---------------------------------------------------------- */
.other-hidden-div {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 10px 20px 10px 20px;
}
.num-of-dates {
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 36px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
.from-day {
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.num-of-dates-input {
    width: 50px;
    margin-right: 5px;
    border: none;
    color: #7d7e7e;
}
.num-of-dates-input:focus {
    border: none;
    outline: none;
}
.nights {
    height: 20px;
    padding-left: 8px;
    border-left: 1px solid rgb(217, 216, 216);
    color: #7d7e7e;
}
.from-day-select {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: #7d7e7e;
    cursor: pointer;
}
.from-day-select:focus {
    border: none;
    outline: none;
}
.no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="-20 -8 40 40" stroke="black"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>') no-repeat right 10px center;
}