.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    width: 50%;
    padding: 20px 0 20px 0;
    cursor: pointer;
    background-color: white;
    margin-right: 2px;
    border: none;
    color: black;
}
.tab:hover{
    background-color: rgba(219, 216, 216, 0.5);
}
.tab.active {
    color: #007bff;
}

.tab-content {
    padding: 10px;
    border:none;
}